body {
    background-color:burlywood;
    text-align: center;
}

h1 {
    color:blanchedalmond;
}

#flower {
    length: 400px;
    width: 300px;
    margin-left: 100px;
}

#bug {
    length: 500px;
    width: 350px;
}

#bridge {
    length: 350px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;

}

h3 {
    color:blanchedalmond;
}

#change {
    margin-top: 20px;
}

#camera {
    length: 450px;
    width: 320px;
    margin-left: 150px;
}
